
.divOscuro{ 
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.815);
    z-index:-9;
    position: absolute;
    display: flex;
}

.titulo{
    font-size: 65px;
    font-family: 'Lobster', cursive;
}

.carousel{
    height: 600px;
}