.cards{
    width: 250px;
    height: 380px;
    background-color: rgba(255, 255, 255, 0.884);
    border-radius: 4px;
}

.cards:hover{
    box-shadow: 3px 3px 10px rgb(212, 211, 211);
    width: 101%;
    height: 101%;
    /* opacity: 100%; */
    
}